<div class="hDetails">
    <div *ngIf="hero; else spinner">
        <h2>{{hero.name | uppercase}} Details</h2>
        <!-- FIX -->
        <div class="heroAttribute"><span>Hero ID: </span>{{hero.id}}</div>
        <div class="heroAttribute">
        <label>Hero Name:
            <input [(ngModel)]="hero.name" placeholder="name">
        </label>
        </div>
        <button (click)="save()">Save</button>
        <button (click)="goBack()">go back</button>
    </div>
    <ng-template #spinner>
        <app-spinnerwheel [fullPath]="gifPath"></app-spinnerwheel>
    </ng-template>
</div>
