/* HeroSearch private styles */
.search-component{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
}
